<div class=" page-banner block-header" [ngClass]="globals.theme + '-color'">
  <div class="container">
    <div class="">
      <div class="col-xs-12 col-lg-5 col-md-6 col-sm-6 border-right sm-border block-address-wrap">
        <h1 class="block-title">
          Address
        </h1>
        <p class="address">
          {{address}}
        </p>


      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 qr-code sm-border md-text-right">
        <ngx-qrcode [qrc-element-type]="'url'" [qrc-value]="currentLocation">
        </ngx-qrcode>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 block-summary md-border-top" style="padding: 0px !important;">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5>Summary</h5>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="row block-label"># Of Transactions</div>
            <div class="row block-value">{{totalTransactionsNumber}}</div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="row block-label">Total volume:</div>
            <div class="row block-value">{{volume | number:'1.5-5'}} GAME</div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="row block-label">Estimated balance</div>
            <div class="row block-value">{{currentValue | number:'1.5-5'}} GAME</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TRANSACTIONS -->
<div class="blocks-wrapper" [ngClass]="globals.theme + '-color'">
  <div class="container address-transactions">

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
      <h3 class="address-transactions-title"> {{selectedTrancationsTagName}}
        <button class="btn transaction-number">{{transactionsTagNumber}}</button>
      </h3>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-3 text-center" style="padding-top: 20px;">

      <div class="col-xs-6 col-sm-6" style="padding: 0">
        <button class="btn filter-btn" [ngClass]="{'active': selectedTrancationsTagName == 'All Transactions'}" (click)="setMenu('All Transactions')">
          All
        </button>
      </div>
      <div class="col-xs-6 col-sm-6" style="padding: 0">
        <button class="btn filter-btn" [ngClass]="{'active': selectedTrancationsTagName != 'All Transactions'}" style="margin-right: 10px" (click)="setMenu('Unspent Transactions')">
          Unspent
        </button>
      </div>
    </div>


    <div class="">
      <div class="col-xs-12 block-transactions">

        <div *ngIf="selectedTrancationsTagName == 'All Transactions' && allTransactions">
          <div [ngClass]="globals.theme + '-color'" class="panel panel-default panel-block" *ngFor="let trans of allTransactions" style="margin-bottom: 58px">
            <div class="panel-heading" [ngClass]="globals.theme + '-color'">

              <p class="col-sm-11 col-xs-9 vcenter">
                <a href="{{'/transactions/' + trans.txid}}" class="block-link col-sm-11 col-xs-10 vcenter hidden-xs">
                  {{trans.txid}}
                </a>
                <a href="{{'/transactions/' + trans.txid}}" class="block-link col-sm-11 col-xs-10 vcenter hidden-sm hidden-md hidden-lg">
                  {{trans.txid.substring(0,10)}}...{{trans.txid.substring(55,64)}}
                </a>

              </p>
              <div class="panel-rectangle col-sm-1 col-xs-3 float-right">
                <a href="{{'/transactions/' + trans.txid}}">
                  <i class="glyphicon glyphicon-chevron-right vcenter"></i>
                </a>
              </div>


              <!--<span ><i class="icon-calendar"> {{ (trans?.blocktime * 1000 ) | date:'medium'}}</i></span>-->

            </div>
            <div class="panel-body">
              <div class="">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 block-content" style="height: 100%">
                  <br>
                  <p class="block-label">Inputs</p>
                  <ul class="list-unstyled">

                    <li *ngFor="let input of trans?.vin">
                      <div *ngIf="input.prev_txid">
                        <p class="block-link">
                          <a routerLink="{{'/transactions/'+ input.prev_txid}}" class="hidden-xs">
                            {{input.prev_txid}}
                          </a>
                          <a routerLink="{{'/transactions/'+ input.prev_txid}}" class="hidden-sm hidden-md hidden-lg">
                            {{input.prev_txid.substring(0,10)}}...{{input.prev_txid.substring(55,64)}}
                          </a>

                        </p>
                      </div>
                      <div *ngIf="!input.prev_txid">No Inputs (Newly Generated Coins)</div>
                    </li>

                  </ul>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 sm-border-left block-content md-border-top">
                  <br>
                  <p class="block-label">Outputs</p>
                  <ul class="list-unstyled">

                    <li *ngFor=" let output of trans?.vout ">

                      <div class="col-md-8 col-sm-8 col-xs-12" *ngFor="let adress of output?.addresses" style="padding-left: 0px;">
                        <a routerLink="{{'/addresses/'+ adress}}" class="hidden-xs">
                          {{adress}}
                        </a>

                        <a routerLink="{{'/addresses/'+ adress}}" class="hidden-sm hidden-md hidden-lg">
                          {{adress.substring(0,10)}}...{{adress.substring(23,64)}}
                        </a>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 block-value" style="padding-left: 0px;">
                        {{output.value | number:'1.5-5'}} GAME
                      </div>

                      <Br> <br>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer col-sm-12 no-padding" [ngClass]="globals.theme + '-color'">
              <!--<div class="hidden-sm hidden-md hidden-lg">-->
              <br>
              <!--</div>-->
              <div class="col-sm-6 col-md-6 block-label xs-text-left">
                {{ (trans?.blocktime * 1000 ) | date:'medium'}}
              </div>
              <div class="col-sm-6 col-md-6 text-right xs-text-left">
                <span class="block-label">Total:</span>
                <span class="block-value">{{trans?.total | number:'1.5-5'}} GAME</span>
              </div>

            </div>
          </div>

          <button class="btn active filter-btn" *ngIf="totalTransactionsNumber > allTransactions.length" (click)="loadMoreTransactions()">
            Load More Transactions
          </button>
        </div>


        <div class="" *ngIf="selectedTrancationsTagName == 'Unspent Transactions'" style="margin-bottom: 58px">
          <div [ngClass]="globals.theme + '-color'" class="panel panel-default panel-block wtf-class" *ngFor="let trans of unspent ">

            <div class="panel-heading" [ngClass]="globals.theme + '-color'">

              <p class="col-sm-11 col-xs-9 vcenter">
                <a href="{{'/transactions/' + trans.txid}}" class="block-link col-sm-11 col-xs-10 vcenter hidden-xs">
                  {{trans.txid}}
                </a>
                <a href="{{'/transactions/' + trans.txid}}" class="block-link col-sm-11 col-xs-10 vcenter hidden-sm hidden-md hidden-lg">
                  {{trans.txid.substring(0,10)}}...{{trans.txid.substring(55,64)}}
                </a>

              </p>
              <div class="panel-rectangle col-sm-1 col-xs-3 float-right">
                <a href="{{'/transactions/' + trans.txid}}">
                  <i class="glyphicon glyphicon-chevron-right vcenter"></i>
                </a>
              </div>
            </div>

            <div class="panel-footer col-sm-12 no-padding" [ngClass]="globals.theme + '-color'">
              <!--<div class="hidden-sm hidden-md hidden-lg">-->
              <br>
              <!--</div>-->
              <div class="col-sm-6 col-md-6 block-label xs-text-left">
                {{ (trans?.blockTime * 1000 ) | date:'medium'}}
              </div>
              <div class="col-sm-6 col-md-6 text-right xs-text-left">
                <span class="block-label">Total:</span>
                <span class="block-value">{{trans?.value | number:'1.5-5'}} GAME</span>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


