<div class="container-fluid blocks-wrapper">
	<div class="container">
		<h1 class="blocks-title">Blocks </h1>
			<div class="search-results"
			infiniteScroll
			[infiniteScrollDistance]="1"
			[infiniteScrollThrottle]="300"
			(scrolled)="onScroll()">
				<table class="table latest-blocks-table hidden-xs">
						<thead>
						<tr class="blocks-table-header">
							<th>HEIGHT</th>
							<th>AGE</th>
							<th>TRANSACTIONS</th>
							<th>TOTAL SENT</th>
							<th>SIZE (KB)</th>
						</tr>
						</thead>

						<tbody>
							<tr *ngFor="let block of blocks.reverse()">
								<td>
									<a routerLink="{{ '/blocks/' + block.hash}}">{{block?.height}}</a>
								</td>
								<td>
									{{calulateMinutesFromNow(block?.time)}}
								</td>
								<td>
									{{block?.tx?.length}}
								</td>
								<td>
									{{block?.total | number:'1.5-5'}} GAME
								</td>
								<td>
									{{block?.size}}
								</td>
							</tr>
								<tr *ngFor="let block of blockArray">
									<td>
										<a routerLink="{{ '/blocks/' + block.hash}}">{{block?.height}}</a>
									</td>
									<td>
										{{calulateMinutesFromNow(block?.time)}}
									</td>
									<td>
										{{block?.tx?.length}}
									</td>
									<td>
										{{block?.total | number:'1.5-5'}} GAME
									</td>
									<td>
										{{block?.size}}
									</td>
								</tr>
						</tbody>
				</table>
				<div class="container-fluid hidden-sm hidden-md hidden-lg">
					<div class="row one-card" *ngFor="let block of blockArray">
							<div class="first-row-xs">
								<div class="col-xs-6">
									<a routerLink="{{ '/blocks/' + block.hash}}">{{block?.height}}</a>
								</div>
								<div class="first-row-box pull-right">
										<a routerLink="{{ '/blocks/' + block.hash}}">></a>
								</div>	
							</div>
							<table class="table one-card-table">
								<tr>
									<td class="card-bot-border">
										AGE <br>
										<span class="white-text">{{calulateMinutesFromNow(block?.time)}}</span>
									</td>
									<td class="card-left-border card-bot-border">
										TRANS.  <br>
										<span class="white-text">{{block?.tx?.length}}</span>
									</td>
									<td class="card-left-border card-bot-border">
										SIZE (KB) <br>
										<span class="white-text">{{block?.size}}</span>
									</td>
								</tr>
								<tr>
									<td colspan="3">
											TOTAL SENT GAME <br>
											<span class="white-text">{{block?.total | number:'1.5-5'}}</span>
									</td>
								</tr>
							</table>
					</div>
				</div>
		</div>
	</div>
</div>
