<div class=" page-banner block-header" [ngClass]="globals.theme + '-color'">
  <div class="container">
    <div class="">
      <div class="col-xs-12 col-lg-5 col-md-6 col-sm-6 border-right sm-border block-address-wrap">
        <h1 class="block-title">
          Transaction
        </h1>
        <p class="address">
          {{transaction?.txid}}
        </p>
      </div>
      <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12 qr-code sm-border md-text-right">
        <ngx-qrcode [qrc-element-type]="'url'" [qrc-value] = "currentLocation">
        </ngx-qrcode>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 block-summary md-border-top no-padding">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5>Summary</h5>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="row block-label">Blockhash</div>
            <div class="row block-value">{{transaction?.blockhash}}</div>
            <div class="row block-value"><br /></div>
          </div>
          <div class="col-md-1 col-sm-1 hidden-xs"></div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-10">
            <div class="row block-label">Blocktime:</div>
            <div class="row block-value">{{ ( transaction?.blocktime * 1000 )  | date:'medium'}}</div>
          </div>
          <div class="col-md-1 col-sm-1 hidden-xs"></div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" >
            <div class="row block-label">Version</div>
            <div class="row block-value">{{transaction?.version}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blocks-wrapper" [ngClass]="globals.theme + '-color'">
  <div class="container address-transactions">
    <div class="">
      <div class="col-xs-12 block-transactions">

          <div class="panel panel-default panel-block" style="margin-top:64px;">

            <div class="panel-body" [ngClass]="globals.theme + '-color'">
              <div class="">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 block-content" style="height: 100%">
                  <br>
                  <p class="block-label">Inputs</p>
                  <ul class="list-unstyled">

                    <li *ngFor="let input of transaction?.vin" >
                      <div *ngIf="input.prev_txid">
                        <p class="block-link">
                          <a routerLink="{{'/transactions/'+ input.prev_txid}}" class="hidden-xs" >
                            {{input.prev_txid}}
                          </a>
                          <a routerLink="{{'/transactions/'+ input.prev_txid}}" class="hidden-sm hidden-md hidden-lg" >
                            {{input.prev_txid.substring(0,10)}}...{{input.prev_txid.substring(55,64)}}
                          </a>
                        </p>
                      </div>
                      <div *ngIf="!input.prev_txid">No Inputs (Newly Generated Coins)</div>
                    </li>

                  </ul>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 sm-border-left block-content md-border-top">
                  <br>
                  <p class="block-label">Outputs</p>
                  <ul class="list-unstyled">

                    <li *ngFor=" let output of transaction?.vout ">

                      <div class="col-md-8 col-sm-8 col-xs-12" style="padding: 0" *ngFor="let adress of output?.addresses">
                        <a routerLink="{{'/addresses/'+ adress}}" class="hidden-xs">
                          {{adress}}
                        </a>
                        <a routerLink="{{'/addresses/'+ adress}}" class="hidden-sm hidden-md hidden-lg" >
                          {{adress.substring(0,10)}}...{{adress.substring(23,64)}}
                        </a>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 block-value" style="padding: 0">
                        {{output.value | number:'1.5-5'}} GAME
                      </div>

                      <Br> <br>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer col-xs-12 no-padding" [ngClass]="globals.theme + '-main'">
              <br>
              <div class="col-sm-4 col-md-4 col-xs-12 xs-text-left">

                <span class="block-label">Confirmations:</span>
                <span class="block-value">{{confirmations}}</span>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-12 text-center xs-text-left">
                <span class="block-label">Status:</span>
                <span class="block-value" *ngIf=" confirmations > 6">Complete</span>
                <!--TODO@luka check status names-->
                <span class="block-value" *ngIf=" confirmations < 7">UnComplete</span>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-12 text-right xs-text-left">
                <span class="block-label">Total Sent:</span> <span class="block-value">{{transaction?.total | number:'1.5-5'}} GAME</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


