<div class="container">
	<h1>All transactions</h1>
	<h2>{{ block_test }}</h2>
    <div class="search-results"
	    infiniteScroll
	    [infiniteScrollDistance]="1"
	    [infiniteScrollThrottle]="300"
	    (scrolled)="onScroll()">
		<table class="table latest-blocks-table">
		    <thead>
		    <tr>
		      <th>Transaction id</th>
					<th>Block hash</th>
					<th>Age</th>
		      <th>Total</th>
		    </tr>
		    </thead>

		    <tbody>
					<tr *ngFor="let transaction of txs.slice().reverse()">
						<td>
							<a href="{{'/transactions/' + transaction.txid}}">
								 {{transaction.txid.substring(0,10)}}..
								 ..{{transaction.txid.substring(54,64)}}
							</a>
						</td>
						<td>
							<a routerLink="{{ '/blocks/' + transaction.blockhash}}">
								{{transaction.blockhash.substring(0,10)}}..
								..{{transaction.blockhash.substring(54,64)}}
							</a>
						</td>
						<td>
							{{calulateMinutesFromNow(transaction?.blocktime)}}
						</td>
						<td>
							{{transaction.total | number:'1.5-5'}} GAME
						</td>
					</tr>
					<tr *ngFor="let transaction of txArray">
						<td>
							<a href="{{'/transactions/' + transaction.txid}}">
								 {{transaction.txid.substring(0,10)}}..
								 ..{{transaction.txid.substring(54,64)}}
							</a>
						</td>
						<td>
							<a routerLink="{{ '/blocks/' + transaction.blockhash}}">
								{{transaction.blockhash.substring(0,10)}}..
								..{{transaction.blockhash.substring(54,64)}}
							</a>
						</td>
						<td>
							{{calulateMinutesFromNow(transaction?.blocktime)}}
						</td>
						<td>
							{{transaction.total | number:'1.5-5'}} GAME
						</td>
					</tr>
		    </tbody>
		</table>
	</div>
</div>
