<nav class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
				<div class="padding-top-5">
					 
					 <a class="header-logo" href="#">  <img src="../../../assets/images/whitelogo.png" alt="" height="40"> Block Explorer <span class="badge" style="background-color: #F47F4B">Beta</span></a>
				</div>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="/home">Home</a></li>
				<li><a routerLink="/blocks">Blocks</a></li>
				<li><a routerLink="/network">Network</a></li>
				<li><a href="https://blockexplorer.gamecredits.com/api/ui">API</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>