<nav class="navbar navbar-default dark-main" [ngClass]="globals.theme + '-main'">
  <div class="container navbar-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-sm-12">

      <div class="row">
        <div class="col-xs-9 col-lg-2 col-md-4 col-sm-4  vcenter" style="">
          <i class="hidden-lg toggler glyphicon glyphicon-menu-hamburger"
             data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" [ngClass]="globals.theme + '-color'">
          </i>
          <a class="header-logo" href="#" [ngClass]="globals.theme + '-color'">
            <img [src]="'../../../assets/images/icn_game_'+ globals.theme +'@2x.png'" alt="" height="23.61">
            Block Explorer</a>
        </div>

        <div class="col-lg-3 hidden-xs col-sm-5 col-md-5 search-header vcenter md-border-left">
          <i class=""><img style="margin-left: 10px" src="../../../assets/images/loupe.png" /> </i>
          <input [ngClass]="globals.theme + '-main'"
                 #search type="text" placeholder="Search by blockhash..." (keyup.enter)="onSearch(search.value)" style="max-width: 200px"/>
        </div>

        <div class="hidden-xs hidden-md hidden-sm col-lg-5 vcenter" >
          <ul class="list-unstyled navbar-nav navbar-right">
            <!--<li><a routerLink="/home">Home</a></li>-->
            <li><a [ngClass]="globals.theme + '-color'" routerLink="/blocks">Blocks</a></li>
            <li><a [ngClass]="globals.theme + '-color'" routerLink="/allTransactions">Transactions</a></li>
            <li><a [ngClass]="globals.theme + '-color'"  routerLink="/network">Network</a></li>
            <li><a [ngClass]="globals.theme + '-color'" href="https://blockexplorer.gamecredits.com/api/ui">API</a></li>
          </ul>
        </div>

        <div class="col-lg-1 col-md-1 hidden-xs vcenter">
          <label class="switch">
            <input type="checkbox"  (change)="switchTheme()">
            <span class="slider round"></span>
          </label>
        </div>

        <div class="col-xs-2 hidden-lg col-md-1 col-sm-1 col-lg-3 vcenter text-right">
          <div data-toggle="collapse" data-target=".bs-example-navbar-collapse-1"
               class="custom-x collapse bs-example-navbar-collapse-1" [ngClass]="globals.theme + '-color'">
            X
          </div>
        </div>


      </div>
    </div>
  </div><!-- /.container-fluid -->
  <!-- Collect the nav links, forms, and other content for toggling -->
</nav>
<div class="collapse navbar-collapsed bs-example-navbar-collapse-1">
  <ul class="header-custom-nav" [ngClass]="globals.theme + '-color'">
    <!--<li><a routerLink="/home">Home</a></li>-->
    <li><a [ngClass]="globals.theme + '-color'" routerLink="/blocks">Blocks</a></li>
    <li><a [ngClass]="globals.theme + '-color'" routerLink="/allTransactions">Transactions</a></li>
    <li><a [ngClass]="globals.theme + '-color'" routerLink="/network">Network</a></li>
    <li><a [ngClass]="globals.theme + '-color'" href="https://blockexplorer.gamecredits.com/api/ui">API</a></li>
  </ul>
</div><!-- /.navbar-collapse -->
