<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-sm-12">

      <div class="row">
        <div class="col-md-4 col-sm-10  vcenter">
          <i class="toggler glyphicon glyphicon-menu-hamburger"
             data-toggle="collapse" data-target=".bs-example-navbar-collapse-1">
          </i>
          <a class="header-logo" href="#">
            <img src="../../../assets/images/icn_game@2x.png" alt="" height="23.61">
            Block Explorer</a>
        </div>
        <div class="hidden-xs hidden-sm col-md-6 search-header vcenter">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" placeholder="Search by blockhash..."/>
        </div>
        <div class="col-md-1 col-sm-1 vcenter">
          <div data-toggle="collapse" data-target=".bs-example-navbar-collapse-1"
               class="custom-x collapse bs-example-navbar-collapse-1">
            X
          </div>
        </div>


      </div>
    </div>
  </div><!-- /.container-fluid -->
  <!-- Collect the nav links, forms, and other content for toggling -->
</nav>
<div class="collapse navbar-collapsed bs-example-navbar-collapse-1">
  <ul class="header-custom-nav">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/blocks">Blocks</a></li>
    <li><a routerLink="/allTransactions">Transactions</a></li>
    <li><a routerLink="/network">Network</a></li>
    <li><a href="https://blockexplorer.gamecredits.com/api/ui">API</a></li>
  </ul>
</div><!-- /.navbar-collapse -->
