.header-logo {
  /*color: white !important;*/
  font-size: 16px;
  text-decoration: none !important;
  line-height: 22px;
  font-weight: bold;
  vertical-align: bottom;
}

.header-logo img {
  margin-right: 12px;
  vertical-align: middle;
}

.navbar-default {
  /*background-color: #2D475B ! important;*/
  margin: 0 !important;
  border: none !important;
  display: flex;
  align-items: center;
  border-radius: 0 !important;
}

.toggler {
  /*color: #fff;*/
  margin-right: 32px;
  font-size: 19px;
  /*padding-top: 10px;*/
  cursor: pointer;
  vertical-align: middle;
}

.custom-x {
  font-size: 20px;
  /*color: #fff;*/
  cursor: pointer;
  font-weight: bold;
  /*position: absolute;*/
  /*top:13px;*/
  /*right: 10px;*/
}

.logo-header {
  /*margin: 7px 0 7px 0;*/
  border-right: 1px solid rgba(123, 147, 166, 0.15);
}

.search-header {
  vertical-align: middle;
  padding: 7px;
  line-height: 19px;
  font-size: 13px;
  margin-left: 13px;
}

.search-header input {
  /*background-color: #2D475B;*/
  color: rgba(255, 255, 255, 0.3)!important;
  /*color: #7B93A6;*/
  /*background-color: #2D475B;*/
  border: none;
}
.search-header input.white-main {
  color: #2D475B!important;
}

::-webkit-input-placeholder { /* Chrome */
  color: rgba(255, 255, 255, 0.3);
}
.white-main::-webkit-input-placeholder {
  color: #2D475B;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.3);
}
.white-main:-ms-input-placeholder {
  color: #2D475B;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.3);
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(255, 255, 255, 0.3);
}
.white-main:-moz-placeholder {
  color: #2D475B;
}
.search-header .glyphicon {
  color: #7B93A6;
  font-size: 19px;
  vertical-align: middle;
  margin-right: 14px;
}

.navbar-default .navbar-nav li a, .navbar-default .navbar-brand {
  /*color: white !important;*/
}

.navbar-default .navbar-nav li a {
  text-transform: uppercase;
}

.header-custom-nav {
  text-align: center;
  float: none;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
.header-custom-nav.dark-color {
  background-color: #1D2E3B;
}
.header-custom-nav.white-color {
  background-color: #F2F5FA;
}
.header-custom-nav > li > a {
  text-decoration: none;
  /*color: #fff;*/
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}
/* Theme switch */
.switch {
  position: relative;
  top: 3px;
  display: flex;
  width: 41px;
  height: 27px;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.dark {
  background: #283E4F;
}
.slider.white {
  background: #F5F6F8;
}
.slider:before {
  position: absolute;
  bottom: 3px;
  content: "";
  height: 21px;
  width: 21px;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.dark:before {
  left: 4px;
  background: #2D475B url('../../../../assets/images/sun.png') no-repeat center;
}
.slider.white:before {
  right: 4px;
  background: #fff url('../../../../assets/images/moon@1x.png') no-repeat center;
}
input:checked + .slider.white {
  background-color: #F5F6F8;
}
input:checked + .slider.dark {
  background-color: #2D475B;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider.dark:before {
  -webkit-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  transform: translateX(-3px);
  background: #2D475B url('../../../../assets/images/sun.png') no-repeat center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
