<div class="container">
	<div class="row text-center">
		<div class="col-md-6">
    				<div>
    					<h3> Network Info </h3>
	                    <ul class="list-unstyled">
	                        <li>Hash rate: {{networkInfo?.hashrate / 1000000000 | number:'1.5-5'}} GH/s</li>
	                        <li>Blockchain height: {{networkInfo?.numBlocks}}</li>
	                        <li>Coin supply: {{networkInfo?.coinSupply}}</li>
	                        <li>Blockchain size: {{networkInfo?.blockchainSize}}GB</li>
	                        <li>Number of transactions: {{networkInfo?.numTransactions}}</li>
	                    </ul>
    				</div>
		</div>
		<div class="col-md-6">
    				<div >
    					<h3> Client Info </h3>
	                    <ul class="list-unstyled">
	                        <li>IP: {{clientInfo?.ip}}</li>
	                    </ul>
    				</div>
		</div>
	</div>
	<div  class="row">
		<h3 class="text-center"> Peers Connected to the Block Explorer </h3>
	</div>
	<div class="row last-row"> 
		<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
		<div *ngFor="let peer of clientInfo?.peerInfo">
		  <sebm-google-map-marker [latitude]="peer.latitude" [longitude]="peer.longitude" ></sebm-google-map-marker>
		</div>
		</sebm-google-map>	
	</div>
</div>