    
    <div class="container-fluid page-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <img *ngIf="showPlaceholder" src="../../assets/images/placeholder.png" alt="" style="filter: blur(5px);">
                    <div id="line_chart" [chartData]="line_ChartData" [chartOptions]= "line_ChartOptions" (ready)="hidePlaceholder()" chartType="LineChart" GoogleChart></div>
                </div>
                <div class="col-md-4 network-info">
                    <div class="page-header">
                      <h3>GameCredits</h3>
                    </div>
                    <h1>${{price | number:'1.5-5'}}</h1>
                    <ul class="list-unstyled">
                        <li>Hash rate: {{networkInfo?.hashrate / 1000000000 | number:'1.5-5'}} GH/s</li>
                        <li>Blockchain height: {{networkInfo?.numBlocks}}</li>
                        <li>Coin supply: {{networkInfo?.coinSupply}}</li>
                        <li>Blockchain size: {{networkInfo?.blockchainSize}}GB</li>
                        <li>Number of transactions: {{networkInfo?.numTransactions}}</li>
                    </ul>
                    <p>
                        <a href="{{bootstrapLink}}" class="btn btn-primary" role="button">Download bootstrap.zip</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="search-div">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" class="search" placeholder="Search by block hash, transaction ID or address">
        </div>

        <h1>Latest blocks <a class="show-more-blocks" routerLink="/blocks">> Show more blocks</a></h1>
        <table class="table latest-blocks-table">
            <thead>
            <tr>
              <th>Height</th>
              <th>Age</th>
              <th>Transactions</th>
              <th>Total Sent</th>
              <th>Size (kB)</th>
            </tr>
            </thead>

            <tbody *ngIf="latestBlocks" >
                <tr *ngFor="let block of latestBlocks">
                  <td>
                    <a routerLink="{{ '/blocks/' + block.hash}}">{{block?.height}}</a>
                  </td>
                  <td>
                    {{calulateMinutesFromNow(block?.time)}}
                  </td>
                  <td>
                    {{block?.tx?.length}}
                  </td>
                  <td>
                    {{block?.total | number:'1.5-5'}} GAME
                  </td>
                  <td>
                    {{block?.size}}
                  </td>
                </tr>
              </tbody>
          </table>
    </div>