
    <div class="container-fluid page-banner home">
        <div class="container">
          <div class="home-header">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-12">
                  <h5>GameCredits Stats</h5>
                  <h1>${{price | number:'1.5-5'}}</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">

                  <div class="home-box">
                    <div class="block-label">
                      BLOCkCHAIN SIZE
                    </div>
                    <div class="block-value">{{networkInfo?.blockchainSize}}GB</div>
                    <div class="bchain-animation">
                      <div id="ripple" class="centered">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">

                  <div class="home-box">
                    <div class="block-label">
                      HASH RATE
                    </div>
                    <div class="block-value">{{networkInfo?.hashrate / 1000000000 | number:'1.1-1'}} GH/s</div>
                  </div>


                </div>
              </div>
              <div class="row hidden-md hidden-sm hidden-xs" style="margin-top: 43px;">
                <div class="col-md-6">
                  <button class="btn home-download-btn"> Download Current Chain</button>
                </div>
                <div class="col-md-6">
                  <span class="block-value">Source of information</span><br />
                  <a href="coinmarketcap.com">coinmarketcap.com</a>
                </div>

              </div>
            </div>
            <div class="col-lg-6 col-md-9 col-sm-12 col-xs-12" style="min-height: 400px">
                CHART
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                <div class="home-box">
                  <div class="block-label">
                    SYNC STATUS
                  </div>
                  <div class="block-value">{{clientInfo?.syncProgress}} %</div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                <div class="home-box">
                  <div class="block-label">
                    COIN SUPPLY
                  </div>
                  <div class="block-value">{{networkInfo?.coinSupply}}</div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                <div class="home-box">
                  <div class="block-label">
                    BLOCKCHAIN HEIGHT
                  </div>
                  <div class="block-value">{{latestBlocks[0]?.height}}</div>

                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                <div class="home-box">
                  <div class="block-label">
                    # OF TRANSACTIONS
                  </div>
                  <div class="block-value">{{networkInfo?.numTransactions}}</div>

                </div>
              </div>

            </div>
            <div class="row hidden-lg hidden-xs" style="margin-top: 43px;">
              <div class="col-md-6">
                <button class="btn home-download-btn-lg"> Download</button>
              </div>
              <div class="col-md-6">
                <span class="block-value">Source of information</span>
                <a href="coinmarketcap.com">coinmarketcap.com</a>
              </div>

            </div>
          </div>

        </div>
    </div>

    <!--<div class="container">-->
     <!---->

        <!--<h1>Latest blocks</h1>-->
        <!--<table class="table latest-blocks-table">-->
            <!--<thead>-->
            <!--<tr>-->
              <!--<th>Height</th>-->
              <!--<th>Age</th>-->
              <!--<th class="hidden-xs hidden-sm">Transactions</th>-->
              <!--<th class="hidden-md hidden-lg">TX Count</th>-->
              <!--<th>Total Sent</th>-->
              <!--<th>Size (kB)</th>-->
            <!--</tr>-->
            <!--</thead>-->

            <!--<tbody *ngIf="latestBlocks" >-->
              <!--<tr *ngFor="let block of blocks.slice().reverse()">-->
                <!--<td>-->
                  <!--<a routerLink="{{ '/blocks/' + block.hash}}">{{block?.height}}</a>-->
                <!--</td>-->
                <!--<td>-->
                  <!--{{calulateMinutesFromNow(block?.time)}}-->
                <!--</td>-->
                <!--<td>-->
                  <!--{{block?.tx?.length}}-->
                <!--</td>-->
                <!--<td>-->
                  <!--{{block?.total | number:'1.5-5'}} GAME-->
                <!--</td>-->
                <!--<td>-->
                  <!--{{block?.size}}-->
                <!--</td>-->
              <!--</tr>-->
                <!--<tr *ngFor="let block of latestBlocks">-->
                  <!--<td>-->
                    <!--<a routerLink="{{ '/blocks/' + block.hash}}">{{block?.height}}</a>-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--{{calulateMinutesFromNow(block?.time)}}-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--{{block?.tx?.length}}-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--{{block?.total | number:'1.5-5'}} GAME-->
                  <!--</td>-->
                  <!--<td>-->
                    <!--{{block?.size}}-->
                  <!--</td>-->
                <!--</tr>-->
              <!--</tbody>-->
          <!--</table>-->
          <!--<div class="row text-center">-->
             <!--<hr>-->
             <!--<div class="cointainer-blocks">-->
                <!--<a class="btn btn-primary all-blocks-button" routerLink="/blocks"> <i class="icon-th" aria-hidden="true"> </i> Show all blocks</a>-->
             <!--</div>-->
          <!--</div>-->
    <!--</div>-->
