<footer class="container-fluid" [ngClass]="globals.theme + '-color'">
	<div class="container">
		<div class="footer-wrap">

      <div class="bottom-border border-right footer-info no-padding col-sm-12 col-lg-8 col-xs-12">
        <div class="gc-info col-sm-6 col-xs-12 col-lg-9">
          <div class="col-sm-12 col-xs-12 logo">
            <a class="header-logo" href="#" [ngClass]="globals.theme + '-color'">
              <img [src]="'../../../assets/images/icn_game_'+ globals.theme +'@2x.png'" alt="" height="23.61">
              GameCredits</a>
          </div>

          <div class="col-xs-12 col-sm-6 col-lg-10 col-md-6 footer-info no-padding" [ngClass]="globals.theme + '-color'">
            <h2>New to GameCredits?</h2>
            <p>GameCredits is creating a new payment gateway for the gaming industry.</p>
          </div>
        </div>

        <div class="footer-links col-xs-12 col-sm-6 col-lg-3 col-md-6 footer-info no-padding" [ngClass]="globals.theme + '-color'">
          <h2>Links</h2>
          <ul class="col-xs-6 col-sm-6 col-md-6 col-lg-12">
            <li><a [ngClass]="globals.theme + '-color'" routerLink="/blocks">Blocks</a></li>
            <li><a [ngClass]="globals.theme + '-color'" routerLink="/allTransactions">Transactions</a></li>
            <li><a [ngClass]="globals.theme + '-color'" routerLink="/network">Network</a></li>
          </ul>
          <ul class="col-xs-6 col-sm-6 col-md-6 col-lg-12">
            <li><a [ngClass]="globals.theme + '-color'" target="_blank" href="{{apiDocsUrl}}}">API</a></li>
            <li><a [ngClass]="globals.theme + '-color'" href="{{appWebsite}}">GameCredits</a></li>
          </ul>
        </div>
      </div>
		</div>
	</div>
</footer>
