<footer class="container-fluid">
	<div class="container">
		<div class="footer-wrap">
			<div class="logo">
			<img src="../../../assets/images/logo.png" alt="">
			</div>
			<div class="col-md-6 game-text">
				<h2>New to GameCredits?</h2>
				<p>
					GameCredits is creating a new payment gateway for the gaming industry.
					There are a lot of challenges and limitations with current payment solutions and platforms in the gaming industry.
					We will provide gaming companies a very specific solution to make payments seamless, easy and secure.
					We will offer the gaming industry ways to pay less and make more.
					Our in game payment gateway is built for the gaming industry by the gaming industry. <a class="link-underline"href="https://gamecredits.com">Read more</a>
				</p>
				<div class="icons">
					<a href="https://www.facebook.com/gamecredits/"><i class="icon-facebook-square" aria-hidden="true"></i></a>
					<a href="https://twitter.com/gamecredits"><i class="icon-twitter-square" aria-hidden="true"></i></a>
					<a href="https://www.linkedin.com/company/gamecredits"><i class="icon-linkedin-square" aria-hidden="true"></i></a>
					<a href="https://www.youtube.com/channel/UCzkC8rkM38sxpuPcnyr1lXg"><i class="icon-youtube-square" aria-hidden="true"></i></a>
					<a href="https://gamecredits.com/slack.html"><i class="icon-slack" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-md-6 latest-transactions">
				<h2>Latest (mined) transactions</h2>
				<div class="table-responsive">
					<table class="table latest-transactions-table">
						<tbody>
							<tr *ngFor="let transaction of txs">
								<td>
									<a href="{{'/transactions/' + transaction.txid}}"> {{transaction.txid.substring(0,29)}}..</a>
								</td>
								<td>
									{{transaction.total | number:'1.5-5'}} GAME
								</td>
							</tr>
							<tr *ngFor="let transaction of latestTransactions">
								<td>
									<a href="{{'/transactions/' + transaction.txid}}"> {{transaction.txid.substring(0,29)}}..</a>
								</td>
								<td>
									{{transaction.total | number:'1.5-5'}} GAME
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</footer>
