@font-face {
  font-family: 'icomoon';
  src: url('assets/fonts/icomoon.eot?rhkuiw');
  src: url('assets/fonts/icomoon.eot?rhkuiw#iefix') format('embedded-opentype'),
  url('assets/fonts/icomoon.ttf?rhkuiw') format('truetype'),
  url('assets/fonts/icomoon.woff?rhkuiw') format('woff'),
  url('assets/fonts/icomoon.svg?rhkuiw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}

.icon-th:before {
  content: "\f00a";
}

.icon-download:before {
  content: "\f019";
}

.icon-times-circle:before {
  content: "\f057";
}

.icon-check-circle:before {
  content: "\f058";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-twitter-square:before {
  content: "\f081";
}

.icon-facebook-square:before {
  content: "\f082";
}

.icon-linkedin-square:before {
  content: "\f08c";
}

.icon-chain:before {
  content: "\f0c1";
}

.icon-link:before {
  content: "\f0c1";
}

.icon-youtube-square:before {
  content: "\f166";
}

.icon-slack:before {
  content: "\f198";
}

.icon-cube:before {
  content: "\f1b2";
}

.icon-tree:before {
  content: "\f1bb";
}

.icon-at:before {
  content: "\f1fa";
}

.icon-hashtag:before {
  content: "\f292";
}

.icon-cube {
  font-size: 70px;
}

a.icons {
  text-decoration: none !important;
}

.icons {
  font-size: 30px !important;
  text-decoration: none !important;
}

body {
  background-color: #fafafa;
  font-family: 'Trebushet MS', sans-serif !important;
}

.sebm-google-map-container {
  height: 600px;

}

.padding-top-5 {
  padding-top: 5px;
}

.usd-price-big {
  font-size: 40px;
}

.link-underline {
  color: white !important;
  text-decoration: underline;
}

.download-button {
  background-color: transparent !important;
  border-color: white !important;
}

.home-table td {
  padding-bottom: 10px;
}

.badge-status {
  margin-right: 30px !important;
  float: right;
  width: 80px;
}

.last-row {
  padding-bottom: 60px !important;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none!important;
}
/**
** HEADER
**/
.header-logo {
  color: white !important;
  font-size: 16px;
  text-decoration: none !important;
  line-height: 22px;
  font-weight: bold;
  vertical-align: bottom;
}
.navbar-header .row{

}
.header-logo img {
  margin-right: 12px;
  vertical-align: middle;
}
.navbar-default {
  background-color: #2D475B ! important;
  margin: 0 !important;
  border: none !important;
  display: flex;
  align-items: center;
}

.toggler {
  color: #fff;
  margin-right: 32px;
  font-size: 19px;
  /*padding-top: 10px;*/
  cursor: pointer;
  vertical-align: middle;
}
.custom-x {
  font-size: 20px;
  color:#fff;
  cursor: pointer;
  font-weight: bold;
}
.logo-header {
  /*margin: 7px 0 7px 0;*/
  border-right: 1px solid rgba(123, 147, 166, 0.15);
}

.search-header {
  vertical-align: middle;
  padding: 17px;
  line-height: 19px;
  font-size: 13px;
  margin-left: 13px;

}

.search-header input {
  /*background-color: #2D475B;*/
  color: rgba(255, 255, 255, 0.3);
  /*color: #7B93A6;*/
  background-color: #2D475B;
  border: none;
}

::-webkit-input-placeholder { /* Chrome */
  color: rgba(255, 255, 255, 0.3);
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.3);
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.3);
}

:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(255, 255, 255, 0.3);
}

.search-header .glyphicon {
  color: #7B93A6;
  font-size: 19px;
  vertical-align: middle;
  margin-right: 14px;
}

.navbar-default .navbar-nav li a, .navbar-default .navbar-brand {
  color: white !important;
}

.navbar-default .navbar-nav li a {
  text-transform: uppercase;
}

.header-custom-nav {
  text-align: center;
  float: none;
  list-style:none;
  background-color: #1D2E3B;
  margin-bottom: 0;
}
.header-custom-nav > li > a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 17px;
  line-height: 40px;
}

/**
** END HEADER
**/
.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/**
** FOOTER
**/

footer {
  min-height: 428px;
  background-color: #16242E;
  padding: 55px 0 55px 0;
}
.footer-wrap {
  /*position: relative;*/
  /*bottom: 50px;*/
}
.footer-info {
  font-size: 16px;
  color: #FFFFFF;
  padding: 64px 0 64px 0;
}
.footer-info .logo{
  margin-bottom: 55px;
}
.footer-info h1{
  font-size: 24px;
  margin:0;
}
.footer-info h2 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
}
.footer-info ul {
  list-style: none;
  padding: 0;
  margin:0;
}
.footer-info li a {
  text-decoration: none;
  color: rgba(255,255,255, 0.7);
  font-size: 13px;
  line-height: 46px;
}
.custom-btn {
  height: 48px;
  width: 280px;
  border-radius: 4px;
  background: linear-gradient(90deg, #424EDE 0%, #5286FA 100%)!important;
  font-size: 15px!important;
  line-height: 20px!important;
  font-weight: bold!important;
  color: #FFF!important;
}
.no-padding {
  padding: 0!important;
}
.bottom-border {
  border-bottom: none;
  padding-bottom: 0!important;

}
.border-right {
  border-right: 1px solid rgba(255,255,255, 0.25);
}
.padding-large {
  padding: 0 0 20px 50px!important;
  margin:0;
}
@media screen and (max-width: 740px) {
  .footer-info .gc-info {
    margin-bottom: 52px;
  }
  .footer-links {
    padding-right: 15px!important;
    padding-left: 15px!important;
  }
  .footer-info h1{
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 1198px) {
  .padding-large {
    padding: 0!important;
    margin:0;
  }
  .bottom-border {
    border-bottom: 1px solid rgba(255,255,255, 0.25);
    padding-bottom: 64px!important;
  }
  .border-right {
    border-right: none;
  }
}

/**
** END FOOTER
**/
.custom-panel-heading {
  background-color: white !important;
  border-color: white !important;
}

.custom-panel-footing {
  background-color: white !important;
  border-color: white !important;
  padding-top: 0px !important;
}

.page-banner {
  min-height: 300px;
  padding-top: 20px;
}

.padding15pxsides {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.all-peers-button:hover {
  cursor: pointer;
}

.text-for-network {
  padding-top: 30px;
}

.map {
  height: 400px;
}

.peers-table th, .peers-table td {
  padding: 8px 8px 8px 0px !important;
}

.no-border-top {
  border-top: 0px !important;
}

.network-title {
  padding-bottom: 40px;
  font-size: 30px;
}

.home-title {
  margin-top: 0px !important;
}

.network-info {
  color: white;
  padding-top: 30px;
  padding-bottom: 40px;
}

.network-info ul li {
  margin: 5px 0;
}

.network-info button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.network-info button:hover {
  background-color: white;
  color: #33A579;
  border: 2px solid white;
}

.search-div {
  margin: auto;
  font-size: 22px;
  border: 3px solid #06482f;
  width: 650px;
  border-radius: 50px;
  padding: 5px 15px;
  position: relative;
  bottom: 25px;
  background-color: white;
}

.search-div .search {
  font-size: 20px;
  width: 550px;
  border: none;
  background-color: transparent;
}

.search-div .search:focus {
  outline: none;
}

.search-div-sm {
  margin: auto;
  font-size: 22px;
  border: 3px solid #06482f;
  width: 90%;
  border-radius: 50px;
  padding: 5px 15px;
  position: relative;
  bottom: 25px;
  background-color: white;
}

.search-div-sm .search {
  font-size: 20px;
  width: 80%;
  border: none;
  background-color: transparent;
}

.search-div-sm .search:focus {
  outline: none;
}

.cointainer-blocks {
  margin-bottom: 100px !important;
  display: inline-block;
  position: relative;
  top: -37px;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
}

.all-blocks-button {

  background-color: #ddd !important;
  border-color: #ddd !important;
  color: black !important;

}

.blocks-wrapper {
	background-color: #1A2A36;
}

.blocks-title {
  font-size: 36px;
  margin-top: 64px;
  margin-bottom: 32px;
  color: white;
}

.blocks-table-header{
  height: 47.5px !important;
}

.blocks-table-header th{
  opacity: 0.5;
  color: #7B93A6;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
  vertical-align: middle !important;
  padding-left: 30px !important;
  border-bottom: 0px !important;
}

.latest-blocks-table tr{
  height: 68px;
}

.first-row-box{
  background-color: rgba(255,255,255,0.07) !important;
  width: 48px !important;
  height: 48px !important;
  text-align: center !important;

}

.first-row-box a{
  color: rgb(228, 230, 232) !important;
}

.transactions-card-link {
  color: #82B1FF !important;
  font-size: 13px;
  font-weight: 600;
  line-height: 36px;
}

.first-row-xs{
  background-color: rgb(50, 67, 81);
  height: 48px;
  line-height: 48px;
  border-radius: 4px 4px 0px 0px;
}

.card-bot-border {
  border-bottom: 1px solid rgb(50, 67, 81);
  opacity: 0.1;
}

.card-left-border {
  border-left: 1px solid rgb(50, 67, 81);
  opacity: 0.1;
}

.first-row-xs a{
  color:#82B1FF;
}

.one-card-table{
  border-radius: 0px 0px 4px 4px;
}

.transactions-card-table {
  border-bottom: 1px solid rgba(123,147,166,0.1) !important;
  margin-top: 0px;
  margin-bottom: 0px !important;
}

.one-card-table td{
  background-color: #20303c;
  color: #7B93A6;
  font-size: 11px;
  font-weight: 400;
  opacity: 0.8;
  line-height: 15px;
  padding-left: 15px !important;
  border-top: 0px !important;
}

.white-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 34px;
  color: #FFFFFF;
}

.latest-blocks-table td{
  text-align: left;
  padding-left: 30px !important;
  vertical-align: middle !important;
  border-top: 1px solid #1A2A36 !important;
}
.row.text-center hr{
  border-color: #ddd;
}

.show-more-blocks {
  float: right;
  font-size: 16px;
  line-height: 39.6px;
}

.latest-blocks-table {
  margin-bottom: 100px;
  opacity: 0.8;
  border-radius: 4px;
  background-color: rgba(123,147,166,0.07);
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  padding: 20px;
}

.latest-blocks-table a {
    height: 16px;
    width: 55px;
    color: #82B1FF;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
  }


.game-text {
  color: white;
  font-weight: 300;
}

.game-text h2 {
  font-weight: 300;
}

.game-text i {
  padding-right: 15px;
  color: white !important;
}

.next-prev-link {
  border-radius: 50%;
  border: 1px solid white;
  font-size: 15px !important;
  font-weight: 100;
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 25px !important;
  margin-right: 18px;
  margin-top: 3px;
}

.next-prev-link a{
  text-decoration: none;
  color: white;
}

.next-prev-link a:hover{
  text-decoration: none;
  color: white;
}

.latest-transactions {
  color: white;
  font-weight: 300;
}

.latest-transactions h2 {
  font-weight: 300;
}

.latest-transactions-table a {
  color: white;
}

.line {
  border: 1px solid white;
  width: 100%;
  height: 1px;
  position: relative;
  top: 65px;
}

@media screen and (max-width: 1200px) and (min-width: 300px) {
  .block-details {
    background: linear-gradient(180deg, #1D2E3B 50%, #192834 50%) !important;
  }
  .right-half {
      padding-left: 30px !important;
      overflow: overlay;
      height: 750px;
      padding-left: 30px !important;
  }
}

@media screen and (min-width: 1200px) {
  .right-half {
    padding-left: 55px !important;
    overflow: overlay;
    height: 750px;
}
}
.boxes {
  text-align: center;
  color: #06482f;
}

.block-transactions {
  min-height: 600px;
}

.left-half {
  height: 820px;
}


.right-half::-webkit-scrollbar { 
  display: none; 
}


.block-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #396E9E;
}

.block-link a {
  color: #06482f;
  text-decoration: underline;
}

.block-title {
  color: white;
  padding-bottom: 15px;
}

.block-title small {
  color: white;
  font-size: 16px;
}

.block-header {
  padding-bottom: 25px;
}

.block-header .table {
  border-color: white;
  color: white;
  overflow: hidden;
}

.boxes-banner {
  background-color: #f5f5f5;
  padding-bottom: 60px;
  border-bottom: 1px solid #ddd;
}

.box-label {
  text-transform: uppercase;
  font-weight: bold;
}

.chain-links-label {
  margin: 25px 0;
  text-transform: uppercase;
  font-size: 16px;
}

.block-hash-text{
  word-break: break-all; 
  color: rgba(255,255,255,0.5);
  font-size:16px;
  line-height: 26px;
  letter-spacing: 1px;
}

.block-summary-small-text {
  color: rgba(123,147,166, 0.5);
  font-size: 11px;
  line-height: 25px;
}

.block-summary-small-text-white{
  color: #FFFFFF;
  font-size: 13px;
  line-height: 18px;
}

.small-title-texts{
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  padding-top: 20px;
}
.holder-div div {
  padding: 0px !important;
}

.holder-div {
  padding-bottom: 30px;
}

.badge-status-text {

  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 14px;

}

.main-card-block {
  padding-top: 15px;
}

.footer-card-right-div {
  position: relative;
  top: -4px;
  padding-right: 15px;
}

.last-row-panel {
  padding-top: 0px !important;
  padding-bottom: 25px !important;
  border-radius: 0 0 6px 6px;
  background-color: rgb(38, 55, 69);
}

.block-summary-small-text-2 {
  color: rgba(123,147,166,0.65);	
  font-size: 12px;
  letter-spacing: 1px;
  padding-left: 15px;
  position: relative;
  top: 15px;
}

.border-r-4px{
  border-radius: 4px;
  text-align: center;
}

.block-summary-table tr th, tr td {
  border: 0px !important;
  padding-left: 0px !important;
  padding-top: 20px !important;
}


.root-text{
  color: rgba(123,147,166,0.5);
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 19px;
}

.bottom-border-block-row{
  border-bottom: 1px solid rgba(242,246,255,0.1);
}

.block-transaction-link{
  text-decoration: none !important;
  color: rgba(130,177,255,0.5) !important;
  font-size: 13px;
}

.small-loop-icon{
  color: #7B93A6;
  font-size: 20px;
  font-weight: 100;
  position: relative;
  top: -18px;
}

.number-with-background {
  font-size: 12px;
  background-color:#7B93A6;
  border-radius: 6px;
  height: 22px;
  padding: 4px 8px;
  position: relative;
  top: -3px;
}

.block-transactions-title {
  margin-top: 35px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 0px;
}

.block-transactions {
  margin-bottom: 50px;
}

.block-transactions a {
  color: #06482f;
  text-decoration: underline;
}

.block-details {
  background: linear-gradient(90deg, #1D2E3B 50%, #192834 50%);
}

.transaction-header {
  background-color: #33A579;
  padding-bottom: 60px;
  padding-top: 20px;
}

.transaction-header h1 {
  color: white;
}

.transaction-header h1 small {
  color: white;
}

.transaction-card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  bottom: 50px;
}

.transaction-card__body {
  padding: 20px 0;
}

.transaction-card__footer {
  padding-top: 20px;
  clear: both;
}

.transaction-summary {
  min-height: 300px;
  padding-bottom: 50px;
}

.address-transactions .btn-primary {
  background-color: #33A579;
}

.address-transactions .btn-warning {
  background-color: #F47F4B;
  margin-right: 5px;
}

.address-transactions-title {
  margin-top: 30px;
  margin-bottom: 15px;
}

.halving-alert {
  margin: 0;
  background-color: #f58655;
  color: white;
  border: none;
  margin-bottom: 10px;
}

.halving-alert .close {
  color: white;
}

.monospace {
  font-family: 'Share Tech Mono', monospace;
}

.load-more-button {
  margin-bottom: 20px !important;
  background-color: #33A579 !important;
  border-color: #06482f !important;
}


.loader-div {
  text-align: center;
}

.loader {
  text-align: center;
  display: inline-block;
  width: 130px;
  height: 130px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/*# sourceMappingURL=exploder.css.map */
