@font-face {
  font-family: 'icomoon';
  src: url('assets/fonts/icomoon.eot?rhkuiw');
  src: url('assets/fonts/icomoon.eot?rhkuiw#iefix') format('embedded-opentype'),
  url('assets/fonts/icomoon.ttf?rhkuiw') format('truetype'),
  url('assets/fonts/icomoon.woff?rhkuiw') format('woff'),
  url('assets/fonts/icomoon.svg?rhkuiw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}

.block-summary-2-table tr th, .block-summary-2-table tr td {
  border: 0px !important;
  padding-left: 0px !important;
  padding-top: 20px !important;
}

.icon-th:before {
  content: "\f00a";
}

.icon-download:before {
  content: "\f019";
}

.icon-times-circle:before {
  content: "\f057";
}

.icon-check-circle:before {
  content: "\f058";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-twitter-square:before {
  content: "\f081";
}

.icon-facebook-square:before {
  content: "\f082";
}

.icon-linkedin-square:before {
  content: "\f08c";
}

.icon-chain:before {
  content: "\f0c1";
}

.icon-link:before {
  content: "\f0c1";
}

.icon-youtube-square:before {
  content: "\f166";
}

.icon-slack:before {
  content: "\f198";
}

.icon-cube:before {
  content: "\f1b2";
}

.icon-tree:before {
  content: "\f1bb";
}

.icon-at:before {
  content: "\f1fa";
}

.icon-hashtag:before {
  content: "\f292";
}

.icon-cube {
  font-size: 70px;
}

a.icons {
  text-decoration: none !important;
}

.icons {
  font-size: 30px !important;
  text-decoration: none !important;
}

body {
  background-color: #fafafa;
  font-family: 'Trebushet MS', sans-serif !important;
}

.sebm-google-map-container {
  height: 740px;

}

.padding-top-5 {
  padding-top: 5px;
}

.usd-price-big {
  font-size: 40px;
}

.link-underline {
  color: white !important;
  text-decoration: underline;
}

.download-button {
  background-color: transparent !important;
  border-color: white !important;
}

.home-table td {
  padding-bottom: 10px;
}

.badge-status {
  margin-right: 30px !important;
  float: right;
  width: 80px;
}

.last-row {
  padding-bottom: 60px !important;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none !important;
}


.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

svg {
  margin: 0 auto;
  overflow: hidden;
}

#wave {
  stroke-dasharray: 0 16 101 16;
  -webkit-animation: moveTheWave 2400ms linear infinite;
          animation: moveTheWave 2400ms linear infinite;
}

@-webkit-keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
}

@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .height-80-px{
      height: 86px;
    }

  .position-top-54-px{
    position: relative;
    top: -54px;
  }
  .animation-box {
    min-height: 86px!important;
  }
}

.no-left-right-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-left-right-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}


.no-padding {
  padding: 0 !important;
}

.bottom-border {
  border-bottom: none;
  padding-bottom: 0 !important;

}

.border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.padding-large {
  padding: 0 0 20px 50px !important;
  margin: 0;
}

@media screen and (max-width: 740px) {
  .navbar-container {
    width: 100%;
  }
  .header-custom-nav {
    text-align: left;
    padding-left: 20px;
  }

  .xs-text-left {
    text-align: left !important;
  }
}

@media screen and (max-width: 1198px) {
  .padding-large {
    padding: 0 !important;
    margin: 0;
  }

  .bottom-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-bottom: 64px !important;
  }

  .border-right {
    border-right: none;
  }
}

.custom-panel-heading {
  background-color: white !important;
  border-color: white !important;
}

.custom-panel-footing {
  background-color: white !important;
  border-color: white !important;
  padding-top: 0px !important;
}

.page-banner {
  min-height: 300px;
  padding-top: 20px;
}

.padding15pxsides {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.padding15pxtop {
  padding-top: 15px;
}

.all-peers-button:hover {
  cursor: pointer;
}

.all-peers-button{
  margin-top: 30px;
  width: 280px;
  height: 48px;
  background-color: #4B6070;
  border-radius: 6px;
  border-style: none;
}

.text-for-network {
  padding-top: 30px;
}

.map {
  height: 600px;
}

.peers-table th, .peers-table td {
  padding: 8px 8px 8px 0px !important;
}

.no-border-top {
  border-top: 0px !important;
}

.network-title {
  padding-bottom: 40px;
  font-size: 30px;
}

.home-title {
  margin-top: 0px !important;
}

.network-info {
  color: white;
  padding-top: 30px;
  padding-bottom: 40px;
}

.network-info ul li {
  margin: 5px 0;
}

.network-info button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.network-info button:hover {
  background-color: white;
  color: #33A579;
  border: 2px solid white;
}

.search-div {
  margin: auto;
  font-size: 22px;
  border: 3px solid #06482f;
  width: 650px;
  border-radius: 50px;
  padding: 5px 15px;
  position: relative;
  bottom: 25px;
  background-color: white;
}

.search-div .search {
  font-size: 20px;
  width: 550px;
  border: none;
  background-color: transparent;
}

.search-div .search:focus {
  outline: none;
}

.search-div-sm {
  margin: auto;
  font-size: 22px;
  border: 3px solid #06482f;
  width: 90%;
  border-radius: 50px;
  padding: 5px 15px;
  position: relative;
  bottom: 25px;
  background-color: white;
}

.search-div-sm .search {
  font-size: 20px;
  width: 80%;
  border: none;
  background-color: transparent;
}

.search-div-sm .search:focus {
  outline: none;
}

.cointainer-blocks {
  margin-bottom: 100px !important;
  display: inline-block;
  position: relative;
  top: -37px;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
}

.all-blocks-button {

  background-color: #ddd !important;
  border-color: #ddd !important;
  color: black !important;

}

.blocks-wrapper {
  background-color: #1A2A36;
}

.blocks-title {
  font-size: 36px;
  margin-top: 64px;
  margin-bottom: 32px;
  color: white;
}

.blocks-table-header {
  height: 47.5px !important;
}

.blocks-table-header th {
  opacity: 0.5;
  color: #7B93A6;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
  vertical-align: middle !important;
  padding-left: 30px !important;
  border-bottom: 0px !important;
}

.latest-blocks-table tr {
  height: 68px;
}

.first-row-box {
  background-color: rgba(255, 255, 255, 0.07) !important;
  width: 48px !important;
  height: 48px !important;
  text-align: center !important;

}

.first-row-box a {
  color: rgb(228, 230, 232) !important;
}

.transactions-card-link {
  color: #82B1FF !important;
  font-size: 13px;
  font-weight: 600;
  line-height: 36px;
}

.first-row-xs {
  background-color: rgb(50, 67, 81);
  height: 48px;
  line-height: 48px;
  border-radius: 4px 4px 0px 0px;
}

.card-bot-border {
  border-bottom: 1px solid rgb(50, 67, 81);
  opacity: 0.1;
}

.card-left-border {
  border-left: 1px solid rgb(50, 67, 81);
  opacity: 0.1;
}

.first-row-xs a {
  color: #82B1FF;
}

.one-card-table {
  border-radius: 0px 0px 4px 4px;
}

.transactions-card-table {
  border-bottom: 1px solid #283947 !important;
  margin-top: 0px;
  margin-bottom: 0px !important;
}

.one-card-table td {
  background-color: #283946;
  color: #7B93A6;
  font-size: 11px;
  font-weight: 400;
  opacity: 0.8;
  line-height: 15px;
  padding-left: 15px !important;
  border-top: 0px !important;
}

.white-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 34px;
  color: #FFFFFF;
}

.latest-blocks-table td {
  text-align: left;
  padding-left: 30px !important;
  vertical-align: middle !important;
  border-top: 1px solid #1A2A36 !important;
}

.row.text-center hr {
  border-color: #ddd;
}

.show-more-blocks {
  float: right;
  font-size: 16px;
  line-height: 39.6px;
}

.latest-blocks-table {
  margin-bottom: 100px;
  opacity: 0.8;
  border-radius: 4px;
  background-color: rgba(123, 147, 166, 0.07);
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  padding: 20px;
}

.latest-blocks-table a {
  height: 16px;
  width: 55px;
  color: #82B1FF;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.game-text {
  color: white;
  font-weight: 300;
}

.game-text h2 {
  font-weight: 300;
}

.game-text i {
  padding-right: 15px;
  color: white !important;
}

.next-prev-link {
  border-radius: 50%;
  border: 1px solid white;
  font-size: 15px !important;
  font-weight: 100;
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 25px !important;
  margin-right: 18px;
  margin-top: 3px;
}

.next-prev-link a {
  text-decoration: none;
  color: white;
}

.next-prev-link a:hover {
  text-decoration: none;
  color: white;
}

.latest-transactions {
  color: white;
  font-weight: 300;
}

.latest-transactions h2 {
  font-weight: 300;
}

.latest-transactions-table a {
  color: white;
}

.line {
  border: 1px solid white;
  width: 100%;
  height: 1px;
  position: relative;
  top: 65px;
}


.boxes {
  text-align: center;
  color: #06482f;
}

.block-transactions {
  min-height: 600px;
}



.transaction-header {
  background-color: #33A579;
  padding-bottom: 60px;
  padding-top: 20px;
}

.transaction-header h1 {
  color: white;
}

.transaction-header h1 small {
  color: white;
}

.transaction-card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  bottom: 50px;
}

.transaction-card__body {
  padding: 20px 0;
}

.transaction-card__footer {
  padding-top: 20px;
  clear: both;
}

.transaction-summary {
  min-height: 300px;
  padding-bottom: 50px;
}

.halving-alert {
  margin: 0;
  background-color: #f58655;
  color: white;
  border: none;
  margin-bottom: 10px;
}

.halving-alert .close {
  color: white;
}

.monospace {
  font-family: 'Share Tech Mono', monospace;
}

.load-more-button {
  margin-bottom: 20px !important;
  background-color: #33A579 !important;
  border-color: #06482f !important;
}

.loader-div {
  text-align: center;
}

.loader {
  text-align: center;
  display: inline-block;
  width: 130px;
  height: 130px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/*# sourceMappingURL=exploder.css.map */

/*
* Address
*/
.page-banner {
  min-height: 241px;
  background-color: #1D2E3B;
  padding-top: 20px;
}

.page-banner-2 {
  min-height: 241px;
  padding-top: 20px;
}

.block-title {
  color: white;
  padding-bottom: 15px;
}

.block-title small {
  color: white;
  font-size: 16px;
}

.block-header {
  padding-bottom: 25px;
  color: #FFF;
}

.block-header h5 {
  font-size: 15px;
  padding-top: 15px;
  font-weight: bold;
}

p.address {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.5);
}

.block-label {
  font-size: 11px;
  line-height: 15px;
  font-weight: 600;
  color: rgba(123, 147, 166, 0.5);
  text-transform: uppercase;
  margin-bottom: 7px;
}

.block-value {
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  word-wrap: break-word;
  color: #fff;
}

.sm-border {
  border-bottom: none;
}

.qr-code {
  float: right !important;
}

.qr-code img {
  max-width: 150px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.block-summary {
  margin-bottom: 40px;
}

.block-address-wrap {
  padding-bottom: 0;
  word-wrap: break-word;
}

.md-border-left {
  border-left: 1px solid rgba(123, 147, 166, 0.15);
}
.sm-border-left {
  border-left: 1px solid rgba(123, 147, 166, 0.15);
}

.md-border-top {
  border-top: none;
}

@media screen and (max-width: 740px) {

  .address-transactions .filter-btn {
    margin-bottom: 30px;
  }

  .qr-code {
    float: none !important;
    text-align: center;
  }

  .qr-code img {
    float: none !important;
  }

  .sm-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }

  .md-border-left {
    border-left: none;
  }

  }

  @media screen and (max-width: 1198px) {
    .block-address-wrap {
      padding-bottom: 40px;
    }

    .md-border-top {
      border-top: 1px solid rgba(123, 147, 166, 0.15);
    }

    .sm-border-left {
    border-left: none;
  }
}

.address-transactions {

}

.container .filter-btn {
  background-color: #1A2A36 !important;
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  height: 36px;
  /*margin-bottom: 0px;*/
}

.container .active {
  color: rgba(255, 255, 255, 1) !important;
  border-radius: 4px;
  background-color: #203442 !important;
  min-width: 100%;
}

.address-transactions .btn-warning {
  background-color: #F47F4B;
  margin-right: 5px;
}

.address-transactions-title {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.transaction-number {
  margin-left: 14px;
  border-radius: 6px;
  color: #FFFFFF;
  background-color: #7B93A6 !important;
  font-size: 11px !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  line-height: 14px !important;
  height: 22px;
  width: 37px;
  padding: 0 !important;
}

.panel-block {
  background-color: #1E2D3A !important;
  border: none !important;
  color: #fff;
}

.panel-block .panel-body {
  padding: 0 !important;
}

.panel-block .panel-body .block-content {
}

.panel-block .panel-heading {
  height: 48px;
  padding: 0 !important;
  background-color: rgba(123, 147, 166, 0.2) !important;
  border: none !important;
}
.panel-rectangle{
  float:right !important;
  height: 48px;
  width: 48px;
  border-radius: 0 4px 0 0;
  background-color: rgba(255, 255, 255, 0.2) !important;
  /*background: red!important;*/
  text-align: center;
}

.panel-rectangle i {
  margin-top: 12px;
  font-size: 19px;
  color: #fff;
}

.panel-block .panel-footer {
  border-top: 1px solid rgba(123, 147, 166, 0.15);
  /*background: none !important;*/
  background-color: #1E2D3A !important;
  padding-bottom: 10px !important;
}

.block-transactions-title {
  margin-top: 60px;
}

.block-transactions {
  margin-bottom: 50px;
}

.block-transactions a {
  color: #82B1FF;
  text-decoration: none;
}

.block-transactions {
  min-height: 233px;
}

.block-link {
  margin-top: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #82B1FF;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.block-link a {
  color: #82B1FF;
  text-decoration: none;
}

/*
* End of Address
*/

/*
* NETWORK
*/

.network p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}

.network h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

.network h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.network h1 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  word-break: break-word;
}

.map {
  padding: 70px;
}

.text-center {
  text-align: center;
}

/*HOME*/
.home h5 {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
  margin-top:0;
}

.home h1 {
  margin-top: 0;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 600;
  line-height: 46px;
  margin-bottom: 50px;
}

.home-box {
  /*height: 180px;*/
  /*width: 160px;*/
  padding: 20px 20px;
  border-radius: 6px;
  background-color: rgba(123, 147, 166, 0.07);
  margin-top: 10px;
}

.home-box .block-value {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.centered {
  position: absolute;
  /*top: 50%;*/
  /*left: 50%;*/
}

#ripple {
  color: #aaa;
  width: 20px;
  height: 20px;
  margin-left: -50px;
  margin-top: -50px;
}

.circle {
  position: absolute;
  height: 82px;
  width: 82px;
  border: 2px solid #5286FA;
  top: -23px;
  left: 41px;
  border-radius: 50px;

  animation: wave 4.5s infinite linear;
  animation-fill-mode: both;
}
.bchain-animation {
  padding-top: 107px;
}

.circle:nth-child(2) {
  animation-delay: 1.5s;
}

.circle:nth-child(3) {
  animation-delay: 3s;
}

/* stays on full alpha from 50 to 75 */
@keyframes wave {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1);
    opacity: 0.0;
  }
}
.home-download-btn {
  height: 36px!important;
  width: 176px!important;
  border-radius: 4px!important;
  background-color: rgba(123,147,166,0.5)!important;
  color: #FFFFFF!important;
  font-size: 12px!important;
  line-height: 14px!important;
}
.home-download-btn-lg {
  height: 48px!important;
  width: 339px!important;
  border-radius: 4px!important;
  background-color: #4B6070!important;
  font-size: 15px!important;
  font-weight: 600!important;
  line-height: 20px!important;
  color: #FFFFFF!important;
}
.home-body h2 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}
@media screen and (max-width: 1199px) and (min-width: 740px){
  .circle {
    top: -10px;
    left: 360px;
  }
  .bchain-animation {
    padding-top: 0px;
  }
}

@media screen and (max-width: 990px) and (min-width: 700px){
  .circle {
    top: -10px;
    left: 240px;
  }
  .bchain-animation {
    padding-top: 0px;
  }
}
.animation-box {
  min-height: 210px;
}
/*END HOME*/
@media screen and (min-width: 321px){
  .md-text-right{
    text-align:center
  }
}
input:focus{
  outline: none!important;
}
@media screen and (max-width: 768px){
  .status-boxes .home-box {
    background: none;
    padding: 0;

  }
}

.wtf-class {
  height: 100px !important;
}

.navbar-header .navbar-nav li>a{
  padding-right: 15px;
  padding-left: 15px;
  text-transform: none;
}
.navbar-header .navbar-nav li>a:hover {
  text-decoration: none;
  color: #5286FA!important;
}

body {
  font-family: "Open Sans"!important;
}

a:hover {
  text-decoration: none!important;
  color: #5286FA!important;
}

.prev-next-btn{
  margin: 0!important;
}

/* Theme switching*/

.dark-main {
  background-color: #2D475B!important;
}
.white-main {
  background-color: #fff!important;
}
.white-color {
  color: #2D475B!important;
}
.dark-color {
  color: #fff!important;
}
.block-header.white-color {
  background-color: #F7FAFF;
}
.block-header.white-color p.address {
  color: rgba(22, 34, 44, 0.5);
}
.block-header.white-color .block-title, .block-header.white-color .block-value,
.block-header.white-color h5 {
  color: #16222C!important;
}
.blocks-wrapper.white-color {
  background-color: #EDF2FA;
}

.network-wrapper.white-color{
  background-color: #EDF2FA;
}


.panel-body.white-color {
  background-color: #fff!important;
}
.panel-block .panel-footer.white-main {
  background-color: #fff!important;
}
.panel-block .panel-footer.white-main .block-value {
  color: #AEBDC8;
}
.panel-block.dark-color {
  background-color: #1E2D3A !important;
}

.panel-heading.white-color {
  background-color: rgba(82,134,250,0.2) !important;
}
.white-color .panel-rectangle, .white-color .first-row-box {
  background-color: rgba(82,134,250,0.07)!important;
}
.white-color .panel-rectangle i, .white-color .first-row-box a  {
  color: #5286FA!important;
}
.panel-footer.white-color {
  background-color: #F6F9FE!important;
}
.white-color .filter-btn, .blocks-wrapper.white-color {
  background-color: #EDF2FA!important;
  color: #B8C6D2!important;
}
.white-color .active {
  background-color: #E2E9F2!important;
  color: #7B93A6!important;
}

.latest-blocks-table.dark-main{
  background-color: #1E2D3A !important;
}

.latest-blocks-table.white-main td {
  border-top: 1px solid #ddd!important;
}
.white-color .first-row-xs {
  background-color: rgba(82,134,250,0.2) !important;
}
.white-color .one-card-table td, .panel-block.white-color, .panel-block .panel-footer.white-main,
.panel-body.white-color {
  background-color: #fff!important;
}
.white-color .one-card-table td .white-text, .white-color .blocks-title,
.latest-blocks-table.white-main, .white-color .panel-block .block-content .block-value,
.white-color h3.address-transactions-title, .panel-footer.white-color .block-value {
  color: #1D2E3B!important;
}
.white-color .card-bot-border, .white-color .card-left-border, .white-color .transactions-card-table,
.white-color .bottom-border-block-row{
  border-color: #ddd!important;
}

.nodes.latest-blocks-table.dark-main {
  background-color: #253542 !important;
}

.nodes.white-main {
  background-color: #fff !important;
}

.all-peers-button.white-main {
  background-color: #dce3ed !important;
  color: #7b93a6 !important;
}

.one-card-table.white-main td {
  background-color: #fff !important;
}

.home.white-home h1, .home.white-home h5{
  background-color: #f7faff;
  color: #2D475B !important;
}

.home.white-color {
  background-color: #f7faff;
  color: #2D475B !important;
}

.home-box.dark-main {
  background-color: rgba(123, 147, 166, 0.07) !important;
}

.block-value.white-small {
  color: #3e5260;
  opacity: 0.4;
}

.home.white-home {
  background-color: #FFFFFF !important;
}

.home-header.white-homeup {
  background-color: #f7faff !important;
}


.home-body.white-homedown {
  background-color: #edf1fa !important;
}


.table.white-table {
  background-color: #ffffff;
}

.table.white-table td {
  color: #3e5260;
  border-top: 1px solid #ddd !important;
}


.home-body.white-homedown h2{
  color: #3e5260;
  padding-bottom: 15px;
}

.home-header.dark-homeup {
  background-color: #253846;
}

.home-body.dark-homedown {
 background-color: #223340 !important;
}

.panel-background {
  background: #1F2F3C!important;
}

.white-panels.panel-body {
  background-color: #ffffff !important;
}

.white-panels.panel-block {
  background-color: #edf1fa !important;
}

.white-panels .block-value {
  color: #3e5260 !important;
}
